[user]
	email = marco@trevisiol.casa
	name = MarcoTrevisiol
[push]
	default = matching
[color]
	ui = auto
[credential]
	helper = store
[core]
	editor = vim
[alias]
	last = log -1 --decorate --stat HEAD
	report = log --oneline --decorate HEAD
[pull]
	ff = only
[color "diff"]
	whitespace = red reverse
